/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(basemod.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox .trigger {
    width: 88px;
    height: 121px;
    background: url(triggermod.png);
    opacity: 0;
}

.xbox .bumper {
    width: 170px;
    height: 61px;
    background: url(bumpermod.png);
    opacity: 0;
}

.xbox .bumpers {
    position: absolute;
    width: 536px;
    height: 61px;
    left: 107px;
    top: 129px;
}

.xbox .bumper.pressed {
    opacity: 1;
}

.xbox .bumper.left {
    float: left;
}

.xbox .bumper.right {
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.xbox .stick {
    position: absolute;
    background: url(stickmod.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}