/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(basemod.png);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4 .stick {
    position: absolute;
    background: url(stickmod.png);
    height: 94px;
    width: 94px;