/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(basemod.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox .triggers {
    width: 446px;
    height: 121px;
    position: absolute;
    left: 152px;
}

.xbox .trigger {
    width: 88px;
    height: 121px;
    background: url(triggermod.png);
    opacity: 0;
}

.xbox .bumper {
    width: 170px;
    height: 61px;
    background: url(bumpermod.png);
    opacity: 0;
}

.xbox .button {
    position: absolute;
    background: url(abxymod.png);
    width: 48px;
    height: 48px;
}

.xbox .button.pressed {
    background-position-y: -48px;
    margin-top: 5px;
    opacity: 1;
}

.xbox .a {
    background-position: 0 0;
    top: 108px;
    left: 55px;
}

.xbox .b {
    background-position: -49px 0;
    top: 58px;
    right: 0px;
}

.xbox .x {
    background-position: -98px 0;
    top: 58px;
    left: 4px;
}

.xbox .y {
    background-position: 48px 0;
    left: 55px;
    top: 7px;
}

.xbox .stick {
    position: absolute;
    background: url(stickmod.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

.xbox .face {
    background: url(dpadmod.png);
    position: absolute;
    opacity: 0;
}