/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(basemod.png);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4 .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(facemod.png);
}

.ds4 .stick {
    position: absolute;
    background: url(stickmod.png);
    height: 94px;
    width: 94px;
}

.ds4 .face {
    background: url(dpadmod.png);
    position: absolute;
}